h1 {
    color: rgb(80, 80, 80);
    text-align: center;
    font-size: 50px;
    font-family:  Georgia, 'Times New Roman', Times, serif, serif

}
h2 {
    font-size: 30px;
}


#home {
    float: left;
    background-color: lightpink;
    width: 22.5%;
    
}
nav {
    color:rgb(80, 80, 80);
    text-align:center;
    font-size: 30px;
    font-family:  Georgia, 'Times New Roman', Times, serif, serif;
    

}
#schoolname {color: rgb(80, 80, 80);
    text-align: center;
    font-size: 30px;
    font-family:  Georgia, 'Times New Roman', Times, serif, serif;}
h4 {
    border-bottom:solid;
    text-align:center;
}
h2 {
    color:rgb(80,80,80);
    font-family:  Georgia, 'Times New Roman', Times, serif, serif
}
h4 { color:rgb(80, 80, 80);
    font-size: 15px;
    font-family:  Georgia, 'Times New Roman', Times, serif, serif

}
ol div li {
    color:rgb(80, 80, 80);
    font-size: 20px;
    font-family:  Georgia, 'Times New Roman', Times, serif, serif
}
p {    color:rgb(80, 80, 80);
    font-size: 20px;
    font-family:  Georgia, 'Times New Roman', Times, serif, serif;
}
img {display:block;
margin-left:auto;
margin-right: auto;
}


.mycontainer img{
    opacity:0.2;
    position: absolute;
    left:0; 
    top:0; 
    width:100%; 
    position: fixed;
    z-index: -1;

}
#meeting {width:504px;
    height:378px;
    border: 5px solid rgb(80, 80, 80);
}
#officers {
    background-color: antiquewhite;
    float: bottom;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    margin: 10px;
}
#officertitle {
    float: right;
    padding: 20px;
}
#officerimages {
    padding: 10px;
    left: 100px;
}