/*general*/
body {
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color: rgba(238, 225, 238, 0.8);
    border-top: 5px;
    padding: 30px;

}
header {
    overflow: auto;
    position: relative;
    padding: 15px;

}
h1 {
    color: rgb(80, 80, 80);
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
h2 {
    font-size: 30px;
   
}
.card {
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(238, 225, 238, 0.8)
}
   
}
#home {
    float: left;
    background-color: lightpink;
    width: 22.5%;
    
}
nav {
    color:rgb(80, 80, 80);
    font-size: 30px;
    position: absolute;
    top: 0;
    margin-top: 40px;
    
}
nav a {
    text-decoration: none;
    color: rgb(80, 80, 80);
}
/*when hovered over nav titles */
a:hover {
    color:rgb(194, 194, 194) ;

}

#schoolname {color: rgb(80, 80, 80);
    text-align: right;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align:right;
}
h2 {
    color:rgb(80,80,80);
    padding: 20px;
}
h4 { color:rgb(80, 80, 80);
    font-size: 15px;
   

}
ol div li {
    color:rgb(80, 80, 80);
    font-size: 20px;
   
}
p {    
    color:rgb(80, 80, 80);
    font-size: 20px;
    padding: 20px;
    
}
img {
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}


.mycontainer img{
    opacity:0.2;
    position: absolute;
    left:0; 
    top:0; 
    width:100%;
    position: fixed;
    z-index: -1;


}
#meeting {width:504px;
    height:378px;
    border: 2px solid rgb(80, 80, 80);
    
}
#officers {
    background-color: rgba(238, 225, 238, 0.8);
    margin: 10px;
    text-align: left;
    overflow: auto;

}
#officertitle {
    padding-left: 20px;
    overflow:auto;
    margin-right: 0px;
    margin-bottom: 0px;

    

}
#officerimages img{
    float: left;
    margin-right: 0px;
    border-width: 1px;
    border-color: rgb(80, 80, 80);
    border-style: solid;
    margin: 20px;
}
footer {
    background-color: rgba(238, 225, 238, 0.8);
    border-top: 5px;
    padding: 30px;
    text-align: center;
}